---
import Time from "../components/time/Time.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Nothing to see here ;)</title>
  </head>
  <body>
    <main
      class="h-screen w-screen overflow-hidden bg-bottom bg-cover bg-[url('https://source.unsplash.com/random/1920x1080?landscape')]"
    >
      <Time client:only />
    </main>
  </body>
</html>
